.top {
	height: 88px;
	background-color: #0d8059;
	font-size: 40px;
	color: #fff;
	line-height:88px;
	padding: 0 30px 0 30px;
}
#text{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: red;
}
